{% load static from staticfiles %}
{% load presents_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8"> -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block static %}{% endblock %}
  </head>
  <body>

    <div class="site-container">
      <div class="person-nav">{% nav_persons_list %}</div>
      <nav>
        <a href="{% url 'home' %}">Secret Sonta</a>
      </nav>
      {% block content %}{% endblock %}
    </div>

  <footer>
  </footer>
    <p><br>Created by Wetbeak Facilities</p>
    <div>Get in touch:
      {{ email|urlize }}
      <a href="mailto:feet@facebook.com">eddie_wetbeak@herocast.com</a></div>
  </body>
</html>
